@media (max-width: 767px) {
    body{
        padding-top:0px;
    }
}

body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #666666;
    padding-top:50px;
}
.navbar-fixed-top {
}

#layout_Container {
    /* margin-top:90px;*/
}

#layout_CenterColumn {
    min-height: 360px;
}

#layout_Footer {
    padding-top:2em;
    padding-bottom:1em;
}

.painting {
    margin:2em 0;
}

.layout_PaintingDetails {
  text-align: center;
  padding:1em 0;
}

.layout_PaintingImage {
    text-align:center;
}

.collection-title {
    cursor: pointer;
    margin:1em 0;
    
}

.active a {
    color:#999999;
}
